body
{
	color: white;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
h2
{
	margin: 0;
	padding-top: 1.5em;
}
nav ul
{
	margin: 0;
	padding: 0;
	background: #5b6776;
	padding: 2em;
}
nav ul li
{
	list-style-type: none;
	vertical-align: top;
	display: inline-block;
	transition:.5s all;
	-webkit-transition:.5s all;
	padding: 1em;	
}
nav ul li:hover
{
	background: yellow;
	border-radius: 1em;
}
nav ul li a
{
	text-decoration: none;
	padding: 1em;
	color: white;
}
#inicio
{
	background:url(../img/fondoagua.jpg);
	background-size: 100%;
	margin-top: 100px;
}
#inicio img
{
	padding: 1em;
	width: 80%;
	max-width: 500px;
	text-align: center;
	transition:.5s all;
}
#inicio img:hover
{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(15deg); /* Opera, Chrome, and Safari */
}
.comun
{
	padding: 2em;
}

.comun p
{
	text-align: justify;
	max-width: 400px;
	width: 90%;
}
.comun img
{
	width: 100%;
	max-width: 400px;
}
#servicio
{
	background: #014c65;
}
#servicio ul
{
	margin: 0;
	padding: 0;
}
#servicio ul li
{
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 50%;
	list-style-type: none;
	vertical-align: top;
	display: inline-block;
	padding: 1em;
	margin: 1em auto;
	transition:.5s all;
	-webkit-transition:.5s all;
}
#servicio ul li:hover
{
	width: 250px;
	height: 250px;
}
.comun p,img
{
	display: inline-block;
	vertical-align: top;
}
.home
{
	width: 100%;
}
#promociones
{
	background: #05c487;
}
#contacto
{
	background: url(../img/fondo.png),#eb3700;
}
#contacto ul
{
	margin: 0;
	padding: 0;
}
#contacto li
{
	width: 90%;
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	list-style-type: none;
}
#contacto input
{
	width: 100%;
	height: 30px;
	margin-bottom: 1em;
}
footer
{
	background: gray;
	padding: 2em;
}